<mat-toolbar color="primary">
  <span class="title-center">Artikl</span>
</mat-toolbar>

<mat-card style="min-height: 30px; margin-bottom: -45pt; width: auto" class="example-card" >
    <mat-card-content>
        <span>ID</span>
        <span>Naziv</span>
        <span>Proizvodjac</span>
        <button  mat-icon-button color="primary" (click)="openDialog(1, null, null, null)">
            <mat-icon>add</mat-icon>
        </button>
  </mat-card-content>
</mat-card> 

<ul class="list">
    <div class="example-list list">
      <cdk-virtual-scroll-viewport itemSize = "50" style=" height:500px; width: 100%;" >
              <!--li *cdkVirtualFor="let row of numbers" class="animated lightSpeedIn" style="width: 100%;"-->   
              <li *cdkVirtualFor="let row of artikls" class="animated lightSpeedIn" style="width: 100%;">  
                <mat-card class="example-card " >
                  <mat-card-content>
                      <span>{{row.id}}</span>
                      <span>{{row.naziv}}</span>
                      <span>{{row.proizvodjac}}</span>
                      
                      <span>
                        <button mat-icon-button color="primary" (click)="openDialog(2, row.id, row.naziv, row.proizvodjac)">
                            <mat-icon aria-label="Edit">edit</mat-icon>
                          </button>
                          <button mat-icon-button color="primary" (click)="openDialog(3, row.id, row.naziv, row.proizvodjac)">
                            <mat-icon aria-label="Delete">delete</mat-icon>
                          </button>
                      </span>
                        
                  </mat-card-content>
              </mat-card> 
            </li>

      </cdk-virtual-scroll-viewport>
  </div>
</ul>





