.container {
    display: flex;
    flex-direction: column;
    min-height: 50%;
   }
   .example-container {
    height: auto;
    margin: 10px;
  }
   .example-button-row {
    display: flex;
    align-items: left;
   }
   .mat-button {
    text-align: left;
    display: block;
   }
   .mat-drawer-container {
     min-height: 700px;
   }

   .header-img {
    height: 10em;
    background-size: 100%;
    width: auto;
    background-image: url('/assets/sidenavph.jpg');
    background-color: white;
    background-position: center;
    background-repeat: no-repeat;
}

:host {
  display: flex;
  flex-direction: column;


}
:host main {
  flex: 1;
  position: relative;
  height: 800px;
}
:host /deep/ router-outlet ~ * {
  position: absolute;
  width: 100%;
  height: 100%;
}

.mat-drawer-content {
  overflow: initial !important;
}
