<!--The content below is only a placeholder and can be replaced.-->
<!--<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>
<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/cli">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul>
<a mat-button href="https://material.angular.io">Material</a>
<button mat-mini-fab>
  <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon>
</button>
<app-vozilo></app-vozilo>
<router-outlet></router-outlet>-->

<mat-sidenav-container class="container">

  <mat-accordion>
    <mat-drawer-container class="example-container" autosize>
      <mat-drawer #drawer class="example-sidenav" mode="side" [opened]="isMobile() && toggle() && true ">
        <div class="header-img"> </div>
        <a mat-button style="text-align: center">
          <mat-icon (click)="drawer.toggle()" *ngIf="isMobile()">menu</mat-icon>
        </a>
        <mat-expansion-panel [expanded]="true">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Aplikacija
            </mat-panel-title>
            <mat-panel-description>
              Aplikacija za vodjenje evidencije
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-nav-list>
            <a mat-button [routerLink]="['artikl']" (click)="isMobile() === true && drawer.toggle()">
              <mat-icon>shoppingcart</mat-icon> Artikl
            </a>
          </mat-nav-list>
          <mat-nav-list>
            <a mat-button [routerLink]="['dobavljac']" (click)="isMobile() === true && drawer.toggle()">
              <mat-icon>directionscar</mat-icon> Dobavljač
            </a>
          </mat-nav-list>
          <mat-nav-list>
            <a mat-button [routerLink]="['porudzbina']" (click)="isMobile() === true && drawer.toggle()">
              <mat-icon>listalt</mat-icon> Porudžbina
            </a>
          </mat-nav-list>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Informacije
            </mat-panel-title>
            <mat-panel-description>
              Osnovne informacije o aplikaciji
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-nav-list>
            <a mat-button [routerLink]="['pomoc']" (click)="isMobile() === true && drawer.toggle()">
              <mat-icon>help</mat-icon> Pomoć
            </a>
          </mat-nav-list>
          <mat-nav-list>
            <a mat-button [routerLink]="['autor']" (click)="isMobile() === true && drawer.toggle()">
              <mat-icon>face</mat-icon> Autor
            </a>
          </mat-nav-list>
        </mat-expansion-panel>
      </mat-drawer>


      <div class="example-sidenav-content">
        <a mat-button style="text-align: center" *ngIf="isMobile()">
          <mat-icon (click)="drawer.toggle()">menu</mat-icon>
        </a>
        <a mat-button style="text-align: center">
          <mat-icon [routerLink]="['home']">home</mat-icon>
        </a>

        <main [@fadeAnimation]="getRouterOutletState(o)">
          <router-outlet #o="outlet"></router-outlet>
        </main>
      </div>

    </mat-drawer-container>
  </mat-accordion>

</mat-sidenav-container>
